@charset "UTF-8";
body {
  font-family: "Noto Serif JP", "Noto Serif", sans-serif;
  color: #171717;
  background-color: #fff;
  letter-spacing: 0.05em;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.l-inner {
  margin: 0 4vw;
}

@media screen and (min-width: 860px) {
  .l-inner {
    margin: 0 8.25vw;
    padding: 0 6.85vw;
  }
}

.l-header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.l-header__inner {
  padding: 30px 0;
  width: calc(100% - $side-sp * 2);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 860px) {
  .l-header__inner {
    width: calc(100% - $side-pc * 2);
  }
}

.l-hero {
  height: 100vh;
  background: url(../img/fv-bgi_01@2x.jpg) center/cover;
}

.l-works {
  background: url(../img/works-bgi@2x.jpg) center/cover;
}

.l-contact {
  background: url(../img/contact-bgi@2x.jpg) center/cover;
}

.c-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-section {
  padding: 100px 0px 40px;
}

.c-section:nth-of-type(even) .c-section__title {
  color: #fff;
  text-align: right;
}

@media screen and (min-width: 860px) {
  .c-section:nth-of-type(even) .c-section__title {
    margin-right: -6.85vw;
  }
}

.c-section:nth-of-type(even) .c-section__title::after {
  background-color: currentColor;
}

.c-section:nth-of-type(even) .c-section__sub-title {
  text-align: left;
  color: #fff;
  opacity: 0.1;
}

@media screen and (min-width: 860px) {
  .c-section:nth-of-type(even) .c-section__sub-title {
    margin-right: 0;
    margin-left: -6.85vw;
  }
}

.c-section__title {
  font-size: 30px;
  font-style: italic;
  letter-spacing: 3px;
  line-height: 1;
}

@media screen and (min-width: 860px) {
  .c-section__title {
    font-size: 60px;
  }
}

.c-section__title::after {
  display: inline-block;
  content: "";
  width: 90px;
  height: 5px;
  background-color: currentColor;
  vertical-align: 10px;
  margin-left: 30px;
}

@media screen and (min-width: 860px) {
  .c-section__title::after {
    width: 200px;
    vertical-align: 20px;
  }
}

.c-section__wrapper {
  margin-top: 50px;
}

.c-section__lead {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 860px) {
  .c-section__lead {
    font-size: 30px;
  }
}

.c-section__text {
  font-size: 16px;
}

@media screen and (min-width: 860px) {
  .c-section__text {
    line-height: 1.9;
  }
}

.c-section__sub-title {
  font-size: 40px;
  font-weight: bold;
  opacity: 0.05;
  text-align: right;
  margin-top: 40px;
}

@media screen and (min-width: 860px) {
  .c-section__sub-title {
    font-size: 90px;
    margin-right: -6.85vw;
  }
}

.c-section__sub-title::after {
  content: attr(data-subtitle) "";
}

.c-btn {
  display: block;
  margin: 0 auto;
  width: 235px;
  padding: 18px 1em 19px;
  background-color: #f7d43f;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 32px;
  -webkit-box-shadow: 0 0 6px #1b1310;
          box-shadow: 0 0 6px #1b1310;
}

.header {
  color: #ffffff;
}

.header__title {
  font-size: 26px;
  line-height: 1;
  letter-spacing: 2px;
  font-style: italic;
  vertical-align: middle;
}

.header__nav {
  display: none;
}

@media screen and (min-width: 860px) {
  .header__nav {
    display: block;
    font-size: 16px;
  }
}

.header__item:nth-of-type(n + 2) {
  margin-left: 30px;
}

.header__nav-btn {
  width: 29px;
  height: 20px;
  outline: none;
  overflow: visible;
  /* IE対応 */
  cursor: pointer;
}

.header__nav-btn::before, .header__nav-btn::after {
  content: "";
  display: block;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header__nav-btn::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 10px currentColor;
          box-shadow: 0 10px currentColor;
}

@media screen and (min-width: 860px) {
  .header__nav-btn {
    display: none;
  }
}

.hero {
  position: relative;
  color: #ffffff;
}

.hero__wrapper {
  position: absolute;
  bottom: 207px;
  left: 4vw;
}

@media screen and (min-width: 860px) {
  .hero__wrapper {
    left: 8.25vw;
    text-align: center;
  }
}

.hero__title {
  font-size: 37px;
}

@media screen and (min-width: 860px) {
  .hero__title {
    font-size: 70px;
  }
}

.hero__lead {
  font-size: 20px;
  margin-top: 16px;
}

@media screen and (min-width: 860px) {
  .hero__lead {
    font-size: 40px;
    margin-top: 20px;
  }
}

.concept__desc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

@media screen and (min-width: 860px) {
  .concept__desc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
}

.concept__text {
  font-weight: bold;
}

@media screen and (min-width: 860px) {
  .concept__text {
    width: calc((100% - 12%) / 2);
  }
}

.concept__img {
  margin-top: 30px;
}

@media screen and (min-width: 860px) {
  .concept__img {
    margin-top: 0;
    width: calc((100% - 12%) / 2);
  }
}

.works__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 12px;
}

@media screen and (min-width: 860px) {
  .works__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.works__card:nth-of-type(n + 2) {
  margin-top: 30px;
}

@media screen and (min-width: 860px) {
  .works__card:nth-of-type(n + 2) {
    margin-top: 0;
    margin-left: 20px;
  }
}

.works__img {
  height: 200px;
}

.works__text {
  padding: 25px 20px;
  background-color: #ffffff;
}

.works__more {
  margin-top: 80px;
}

.service__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
}

@media screen and (min-width: 860px) {
  .service__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.service__card {
  height: 250px;
  text-align: center;
  line-height: 250px;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  background: center / cover;
}

@media screen and (min-width: 860px) {
  .service__card {
    width: calc(100% / 3);
    height: 320px;
    line-height: 320px;
    font-size: 40px;
  }
}

.service__card:nth-of-type(n + 2) {
  margin-top: 30px;
}

@media screen and (min-width: 860px) {
  .service__card:nth-of-type(n + 2) {
    margin-top: 0;
  }
}

.service__card.-hearing {
  background-image: url(../img/service-img01@2x.jpg);
}

.service__card.-planning {
  background-image: url(../img/service-img02@2x.jpg);
}

.service__card.-direction {
  background-image: url(../img/service-img03@2x.jpg);
}

.service__link {
  display: block;
}

.service__link:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 47, 53, 0.6)), to(rgba(40, 47, 53, 0.6)));
  background: linear-gradient(rgba(40, 47, 53, 0.6), rgba(40, 47, 53, 0.6));
}

.contact {
  color: #fff;
}

.contact__wrapper {
  margin-top: 80px;
}

@media screen and (min-width: 860px) {
  .contact__lead {
    font-size: 20px;
  }
}

.contact__btn {
  margin-top: 30px;
}

@media screen and (min-width: 860px) {
  .contact__btn {
    margin-top: 40px;
  }
}

.footer {
  padding: 30px 1em;
  text-align: center;
}

.footer__copyright {
  line-height: 1;
  font-weight: bold;
  font-size: 14px;
}

.u-text-upper {
  text-transform: uppercase;
}

.u-br__none {
  display: none;
}

@media screen and (min-width: 860px) {
  .u-br__none {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */